.link-button {
    background: none;
    color: var(--main-color);
    border: none;
    padding: 0;
    
    cursor: pointer;
    font-size: inherit;
  }
  
  .link-button:hover {
    color: var(--button-hover-color);
    text-decoration: underline;
  text-decoration-color: #1cafa6; /* Custom underline color */
  text-decoration-thickness: 1px; /* Custom thickness */
  text-decoration-style: solid; /* You can also use 'dashed', 'dotted', etc. */
}
  
  