.card {
    border: 2px solid transparent; /* Default border color */
    border-radius: 5px;
    padding: 20px;
    background-color: white; /* Card background */
    box-shadow: 0 2px 5px rgba(10, 10, 10, 10);
    transition: border 0.3s, background-color 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .card.selected {
    border: 1px solid   var(--main-color);; /* Border color when selected */
    background-color: #f0f8ff; /* Light background for selected */
  }
  
  .card-checkbox {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .card-checkbox input {
    display: none; /* Hide default checkbox */
  }
  
  .checkmark {
    position: absolute;
    top: 50%;
    
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background-color: white; /* Background color when unchecked */
   
    border-radius: 3px; /* Optional: round corners */
  }
  
  .card-checkbox input:checked + .checkmark {
    background-color: var(--main-color); /* Background color when checked */
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px; /* Adjust position for the tick */
    top: 2px; /* Adjust position for the tick */
    width: 6px;
    height: 12px;
    border: solid white; /* Tick color */
    border-width: 0 2px 2px 0; /* Create the tick */
    transform: rotate(45deg); /* Rotate to create the tick */
  }
  
  .card-checkbox input:checked + .checkmark:after {
    display: block; /* Show tick when checked */
  }
  